# Flutter
build/
.dart_tool/
.packages
.pub-cache/
.pub/
*.lock
*.log
*.iml
.idea/
.vscode/
android/app/debug
android/app/profile
android/app/release
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral
ios/Pods/
ios/.symlinks/
*.xcworkspace
*.xcodeproj
*.pbxproj
*.xcuserstate
*.xcuserdatad
*.moved-aside
*.xccheckout
*.xcsettings
*.xcconfig
*.storyboard
*.xib
*.nib
*.swiftmodule
*.swiftdoc
*.dSYM
*.framework
*.dylib
*.a
*.o
*.so
*.lo
*.la
*.al
*.libs
*.dll
*.exe
*.app
*.ipa
*.dmg
*.pkg
*.deb
*.rpm
*.msi
*.zip
*.tar.gz
*.tgz
*.bz2
*.7z
*.rar
*.iso
*.dmg
*.app
*.apk
*.aab
*.aar
*.jar
*.class
*.dex
*.odex
*.vdex
*.ap_
*.apks
*.aab
*.keystore
*.jks
*.p12
*.crt
*.pem
*.key
*.p8
*.mobileprovision
*.provisionprofile
*.entitlements
*.xcarchive
*.ipa
*.dSYM
*.app.dSYM
*.framework.dSYM
*.a.dSYM
*.dylib.dSYM
*.so.dSYM
*.lo.dSYM
*.la.dSYM
*.al.dSYM
*.libs.dSYM
*.dll.dSYM
*.exe.dSYM
*.app.dSYM
*.ipa.dSYM
*.dmg.dSYM
*.pkg.dSYM
*.deb.dSYM
*.rpm.dSYM
*.msi.dSYM
*.zip.dSYM
*.tar.gz.dSYM
*.tgz.dSYM
*.bz2.dSYM
*.7z.dSYM
*.rar.dSYM
*.iso.dSYM
*.dmg.dSYM
*.app.dSYM
*.apk.dSYM
*.aab.dSYM
*.aar.dSYM
*.jar.dSYM
*.class.dSYM
*.dex.dSYM
*.odex.dSYM
*.vdex.dSYM
*.ap_.dSYM
*.apks.dSYM
*.aab.dSYM
*.keystore.dSYM
*.jks.dSYM
*.p12.dSYM
*.crt.dSYM
*.pem.dSYM
*.key.dSYM
*.p8.dSYM
*.mobileprovision.dSYM
*.provisionprofile.dSYM
*.entitlements.dSYM
*.xcarchive.dSYM
*.ipa.dSYM
*.dSYM.dSYM
*.framework.dSYM
*.dylib.dSYM
*.a.dSYM
*.o.dSYM
*.so.dSYM
*.lo.dSYM
*.la.dSYM
*.al.dSYM
*.libs.dSYM
*.dll.dSYM
*.exe.dSYM
*.app.dSYM
*.ipa.dSYM
*.dmg.dSYM
*.pkg.dSYM
*.deb.dSYM
*.rpm.dSYM
*.msi.dSYM
*.zip.dSYM
*.tar.gz.dSYM
*.tgz.dSYM
*.bz2.dSYM
*.7z.dSYM
*.rar.dSYM
*.iso.dSYM
*.dmg.dSYM
*.app.dSYM
*.apk.dSYM
*.aab.dSYM
*.aar.dSYM
*.jar.dSYM
*.class.dSYM
*.dex.dSYM
*.odex.dSYM
*.vdex.dSYM
*.ap_.dSYM
*.apks.dSYM
*.aab.dSYM
*.keystore.dSYM
*.jks.dSYM
*.p12.dSYM
*.crt.dSYM
*.pem.dSYM
*.key.dSYM
*.p8.dSYM
*.mobileprovision.dSYM
*.provisionprofile.dSYM
*.entitlements.dSYM
*.xcarchive.dSYM
*.ipa.dSYM
*.dSYM.dSYM